@charset "utf-8";
@use './foundations/base';
@use './foundations/variables';
@use './components/ring';
@use './components/triangle';

.magicCircle {
  width: 320px;
  height: 320px;
  margin: auto;
  border: 1px solid #fff;
  position: relative;
}

.theCenter {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -1px;
  background: #f00;
  z-index: 10000;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationReverse {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}