@use '../foundations/variables';
@use '../foundations/color';

.hexagram {

  .is-up,
  .is-down {
    width: 100%;
    height: 100%;
    border-top: 2px solid color.$itemColorLightBlue;
    position: relative;
    margin-top: calc(75% * 2 - 75% * variables.$rootThree);


    &:before,
    &:after {
      content: '';
      background-color: color.$itemColorLightBlue;
      width: 1px;
      display: block;
      height: calc(variables.$rootThree / 2 * 100%);
      position: absolute;
      top: 0;
    }

    &:before {
      left: 0;
      transform: skew(30deg);
      transform-origin: 0% 0%;
    }

    &:after {
      right: 0;
      transform: skew(-30deg);
      transform-origin: 0% 0%;
    }
  }

  .is-down {
    transform: rotate(180deg);
    margin-top: -141%;
  }
}