@use '../foundations/variables';
@use '../foundations/color';

.triangleWrap {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  animation: rotation 5s infinite linear;
  transform-origin: 50% 50%;
}

.triangle {
  border-right: variables.$baseSize solid transparent;
  border-left: variables.$baseSize solid transparent;
  border-bottom: calc(variables.$baseSize * variables.$rootThree) solid color.$itemColorRightGreen;
  /* 底辺かける ルート３（variables.$rootThree）*/
  margin-top: calc(variables.$baseSize - variables.$baseSize * 0.5 * variables.$rootThree - 20px);
  /* 最後の２０pxはまじめに産出しよう */
}