@use '../foundations/variables';
@use '../foundations/color';

.triangleWrap {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
}

.triangle {
  border-right: variables.$baseSize solid transparent;
  border-left: variables.$baseSize solid transparent;
  // border-right: variables.$baseSize solid #fff;
  // border-left: variables.$baseSize solid #fff;
  border-bottom: calc(variables.$baseSize * variables.$rootThree) solid color.$itemColorDeepBlue;
  margin-top: calc(2px - 1 * variables.$baseSize + variables.$baseSize * 0.5 * variables.$rootThree);
}