* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #111111;
  color: #f1f1f1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  overflow: hidden;
}

.resizable {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.resizable.is-resize80 {
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}
.resizable.is-resize70 {
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
}
.resizable.is-resize60 {
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
}
.resizable.is-resize50 {
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
}
.resizable.is-resize40 {
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
}
.resizable.is-resize20 {
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
}

.is-rotateBasic,
.is-rotateReverse {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.is-rotateBasic {
  -webkit-animation-name: rotateBasic;
          animation-name: rotateBasic;
}

.is-rotateReverse {
  -webkit-animation-name: rotateReverse;
          animation-name: rotateReverse;
}

@-webkit-keyframes rotateBasic {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359.9deg);
  }
}

@keyframes rotateBasic {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359.9deg);
  }
}
@-webkit-keyframes rotateReverse {
  from {
    transform: rotate(359.9deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotateReverse {
  from {
    transform: rotate(359.9deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.is-rotateBasic[animation-duration="0"],
.is-rotateReverse[animation-duration="0"] {
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}
.is-rotateBasic[animation-duration="1"],
.is-rotateReverse[animation-duration="1"] {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.is-rotateBasic[animation-duration="2"],
.is-rotateReverse[animation-duration="2"] {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.is-rotateBasic[animation-duration="3"],
.is-rotateReverse[animation-duration="3"] {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.is-rotateBasic[animation-duration="4"],
.is-rotateReverse[animation-duration="4"] {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.is-rotateBasic[animation-duration="5"],
.is-rotateReverse[animation-duration="5"] {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.is-rotateBasic[animation-duration="6"],
.is-rotateReverse[animation-duration="6"] {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
.is-rotateBasic[animation-duration="7"],
.is-rotateReverse[animation-duration="7"] {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.is-rotateBasic[animation-duration="8"],
.is-rotateReverse[animation-duration="8"] {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}
.is-rotateBasic[animation-duration="9"],
.is-rotateReverse[animation-duration="9"] {
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
.is-rotateBasic[animation-duration="10"],
.is-rotateReverse[animation-duration="10"] {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.is-rotateBasic[animation-duration="11"],
.is-rotateReverse[animation-duration="11"] {
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}
.is-rotateBasic[animation-duration="12"],
.is-rotateReverse[animation-duration="12"] {
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
.is-rotateBasic[animation-duration="13"],
.is-rotateReverse[animation-duration="13"] {
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}
.is-rotateBasic[animation-duration="14"],
.is-rotateReverse[animation-duration="14"] {
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
}
.is-rotateBasic[animation-duration="15"],
.is-rotateReverse[animation-duration="15"] {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.is-rotateBasic[animation-duration="16"],
.is-rotateReverse[animation-duration="16"] {
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
}
.is-rotateBasic[animation-duration="17"],
.is-rotateReverse[animation-duration="17"] {
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.is-rotateBasic[animation-duration="18"],
.is-rotateReverse[animation-duration="18"] {
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}
.is-rotateBasic[animation-duration="19"],
.is-rotateReverse[animation-duration="19"] {
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
}
.is-rotateBasic[animation-duration="20"],
.is-rotateReverse[animation-duration="20"] {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.is-rotateBasic[animation-duration="21"],
.is-rotateReverse[animation-duration="21"] {
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
}
.is-rotateBasic[animation-duration="22"],
.is-rotateReverse[animation-duration="22"] {
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}
.is-rotateBasic[animation-duration="23"],
.is-rotateReverse[animation-duration="23"] {
  -webkit-animation-duration: 23s;
          animation-duration: 23s;
}
.is-rotateBasic[animation-duration="24"],
.is-rotateReverse[animation-duration="24"] {
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
}
.is-rotateBasic[animation-duration="25"],
.is-rotateReverse[animation-duration="25"] {
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}
.is-rotateBasic[animation-duration="26"],
.is-rotateReverse[animation-duration="26"] {
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
}
.is-rotateBasic[animation-duration="27"],
.is-rotateReverse[animation-duration="27"] {
  -webkit-animation-duration: 27s;
          animation-duration: 27s;
}
.is-rotateBasic[animation-duration="28"],
.is-rotateReverse[animation-duration="28"] {
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
}
.is-rotateBasic[animation-duration="29"],
.is-rotateReverse[animation-duration="29"] {
  -webkit-animation-duration: 29s;
          animation-duration: 29s;
}
.is-rotateBasic[animation-duration="30"],
.is-rotateReverse[animation-duration="30"] {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}

.ring {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ring-border {
  width: 100%;
  height: 100%;
  border: 4px double #007599;
  box-shadow: 0px 0px 8px #09ECF9, 0px 0px 8px inset #09ECF9;
  border-radius: 100%;
  position: relative;
}

.ring-innerTextList {
  width: 100%;
  height: 100%;
}

.ring-innerTextItem {
  position: absolute;
  top: 0;
  left: calc(50% - 24px);
  width: 48px;
  font-size: 48px;
  height: 100%;
  color: #09ECF9;
}

.ring-innerTextItem[style-angle="0"] {
  transform: rotate(0deg);
}
.ring-innerTextItem[style-angle="1"] {
  transform: rotate(1deg);
}
.ring-innerTextItem[style-angle="2"] {
  transform: rotate(2deg);
}
.ring-innerTextItem[style-angle="3"] {
  transform: rotate(3deg);
}
.ring-innerTextItem[style-angle="4"] {
  transform: rotate(4deg);
}
.ring-innerTextItem[style-angle="5"] {
  transform: rotate(5deg);
}
.ring-innerTextItem[style-angle="6"] {
  transform: rotate(6deg);
}
.ring-innerTextItem[style-angle="7"] {
  transform: rotate(7deg);
}
.ring-innerTextItem[style-angle="8"] {
  transform: rotate(8deg);
}
.ring-innerTextItem[style-angle="9"] {
  transform: rotate(9deg);
}
.ring-innerTextItem[style-angle="10"] {
  transform: rotate(10deg);
}
.ring-innerTextItem[style-angle="11"] {
  transform: rotate(11deg);
}
.ring-innerTextItem[style-angle="12"] {
  transform: rotate(12deg);
}
.ring-innerTextItem[style-angle="13"] {
  transform: rotate(13deg);
}
.ring-innerTextItem[style-angle="14"] {
  transform: rotate(14deg);
}
.ring-innerTextItem[style-angle="15"] {
  transform: rotate(15deg);
}
.ring-innerTextItem[style-angle="16"] {
  transform: rotate(16deg);
}
.ring-innerTextItem[style-angle="17"] {
  transform: rotate(17deg);
}
.ring-innerTextItem[style-angle="18"] {
  transform: rotate(18deg);
}
.ring-innerTextItem[style-angle="19"] {
  transform: rotate(19deg);
}
.ring-innerTextItem[style-angle="20"] {
  transform: rotate(20deg);
}
.ring-innerTextItem[style-angle="21"] {
  transform: rotate(21deg);
}
.ring-innerTextItem[style-angle="22"] {
  transform: rotate(22deg);
}
.ring-innerTextItem[style-angle="23"] {
  transform: rotate(23deg);
}
.ring-innerTextItem[style-angle="24"] {
  transform: rotate(24deg);
}
.ring-innerTextItem[style-angle="25"] {
  transform: rotate(25deg);
}
.ring-innerTextItem[style-angle="26"] {
  transform: rotate(26deg);
}
.ring-innerTextItem[style-angle="27"] {
  transform: rotate(27deg);
}
.ring-innerTextItem[style-angle="28"] {
  transform: rotate(28deg);
}
.ring-innerTextItem[style-angle="29"] {
  transform: rotate(29deg);
}
.ring-innerTextItem[style-angle="30"] {
  transform: rotate(30deg);
}
.ring-innerTextItem[style-angle="31"] {
  transform: rotate(31deg);
}
.ring-innerTextItem[style-angle="32"] {
  transform: rotate(32deg);
}
.ring-innerTextItem[style-angle="33"] {
  transform: rotate(33deg);
}
.ring-innerTextItem[style-angle="34"] {
  transform: rotate(34deg);
}
.ring-innerTextItem[style-angle="35"] {
  transform: rotate(35deg);
}
.ring-innerTextItem[style-angle="36"] {
  transform: rotate(36deg);
}
.ring-innerTextItem[style-angle="37"] {
  transform: rotate(37deg);
}
.ring-innerTextItem[style-angle="38"] {
  transform: rotate(38deg);
}
.ring-innerTextItem[style-angle="39"] {
  transform: rotate(39deg);
}
.ring-innerTextItem[style-angle="40"] {
  transform: rotate(40deg);
}
.ring-innerTextItem[style-angle="41"] {
  transform: rotate(41deg);
}
.ring-innerTextItem[style-angle="42"] {
  transform: rotate(42deg);
}
.ring-innerTextItem[style-angle="43"] {
  transform: rotate(43deg);
}
.ring-innerTextItem[style-angle="44"] {
  transform: rotate(44deg);
}
.ring-innerTextItem[style-angle="45"] {
  transform: rotate(45deg);
}
.ring-innerTextItem[style-angle="46"] {
  transform: rotate(46deg);
}
.ring-innerTextItem[style-angle="47"] {
  transform: rotate(47deg);
}
.ring-innerTextItem[style-angle="48"] {
  transform: rotate(48deg);
}
.ring-innerTextItem[style-angle="49"] {
  transform: rotate(49deg);
}
.ring-innerTextItem[style-angle="50"] {
  transform: rotate(50deg);
}
.ring-innerTextItem[style-angle="51"] {
  transform: rotate(51deg);
}
.ring-innerTextItem[style-angle="52"] {
  transform: rotate(52deg);
}
.ring-innerTextItem[style-angle="53"] {
  transform: rotate(53deg);
}
.ring-innerTextItem[style-angle="54"] {
  transform: rotate(54deg);
}
.ring-innerTextItem[style-angle="55"] {
  transform: rotate(55deg);
}
.ring-innerTextItem[style-angle="56"] {
  transform: rotate(56deg);
}
.ring-innerTextItem[style-angle="57"] {
  transform: rotate(57deg);
}
.ring-innerTextItem[style-angle="58"] {
  transform: rotate(58deg);
}
.ring-innerTextItem[style-angle="59"] {
  transform: rotate(59deg);
}
.ring-innerTextItem[style-angle="60"] {
  transform: rotate(60deg);
}
.ring-innerTextItem[style-angle="61"] {
  transform: rotate(61deg);
}
.ring-innerTextItem[style-angle="62"] {
  transform: rotate(62deg);
}
.ring-innerTextItem[style-angle="63"] {
  transform: rotate(63deg);
}
.ring-innerTextItem[style-angle="64"] {
  transform: rotate(64deg);
}
.ring-innerTextItem[style-angle="65"] {
  transform: rotate(65deg);
}
.ring-innerTextItem[style-angle="66"] {
  transform: rotate(66deg);
}
.ring-innerTextItem[style-angle="67"] {
  transform: rotate(67deg);
}
.ring-innerTextItem[style-angle="68"] {
  transform: rotate(68deg);
}
.ring-innerTextItem[style-angle="69"] {
  transform: rotate(69deg);
}
.ring-innerTextItem[style-angle="70"] {
  transform: rotate(70deg);
}
.ring-innerTextItem[style-angle="71"] {
  transform: rotate(71deg);
}
.ring-innerTextItem[style-angle="72"] {
  transform: rotate(72deg);
}
.ring-innerTextItem[style-angle="73"] {
  transform: rotate(73deg);
}
.ring-innerTextItem[style-angle="74"] {
  transform: rotate(74deg);
}
.ring-innerTextItem[style-angle="75"] {
  transform: rotate(75deg);
}
.ring-innerTextItem[style-angle="76"] {
  transform: rotate(76deg);
}
.ring-innerTextItem[style-angle="77"] {
  transform: rotate(77deg);
}
.ring-innerTextItem[style-angle="78"] {
  transform: rotate(78deg);
}
.ring-innerTextItem[style-angle="79"] {
  transform: rotate(79deg);
}
.ring-innerTextItem[style-angle="80"] {
  transform: rotate(80deg);
}
.ring-innerTextItem[style-angle="81"] {
  transform: rotate(81deg);
}
.ring-innerTextItem[style-angle="82"] {
  transform: rotate(82deg);
}
.ring-innerTextItem[style-angle="83"] {
  transform: rotate(83deg);
}
.ring-innerTextItem[style-angle="84"] {
  transform: rotate(84deg);
}
.ring-innerTextItem[style-angle="85"] {
  transform: rotate(85deg);
}
.ring-innerTextItem[style-angle="86"] {
  transform: rotate(86deg);
}
.ring-innerTextItem[style-angle="87"] {
  transform: rotate(87deg);
}
.ring-innerTextItem[style-angle="88"] {
  transform: rotate(88deg);
}
.ring-innerTextItem[style-angle="89"] {
  transform: rotate(89deg);
}
.ring-innerTextItem[style-angle="90"] {
  transform: rotate(90deg);
}
.ring-innerTextItem[style-angle="91"] {
  transform: rotate(91deg);
}
.ring-innerTextItem[style-angle="92"] {
  transform: rotate(92deg);
}
.ring-innerTextItem[style-angle="93"] {
  transform: rotate(93deg);
}
.ring-innerTextItem[style-angle="94"] {
  transform: rotate(94deg);
}
.ring-innerTextItem[style-angle="95"] {
  transform: rotate(95deg);
}
.ring-innerTextItem[style-angle="96"] {
  transform: rotate(96deg);
}
.ring-innerTextItem[style-angle="97"] {
  transform: rotate(97deg);
}
.ring-innerTextItem[style-angle="98"] {
  transform: rotate(98deg);
}
.ring-innerTextItem[style-angle="99"] {
  transform: rotate(99deg);
}
.ring-innerTextItem[style-angle="100"] {
  transform: rotate(100deg);
}
.ring-innerTextItem[style-angle="101"] {
  transform: rotate(101deg);
}
.ring-innerTextItem[style-angle="102"] {
  transform: rotate(102deg);
}
.ring-innerTextItem[style-angle="103"] {
  transform: rotate(103deg);
}
.ring-innerTextItem[style-angle="104"] {
  transform: rotate(104deg);
}
.ring-innerTextItem[style-angle="105"] {
  transform: rotate(105deg);
}
.ring-innerTextItem[style-angle="106"] {
  transform: rotate(106deg);
}
.ring-innerTextItem[style-angle="107"] {
  transform: rotate(107deg);
}
.ring-innerTextItem[style-angle="108"] {
  transform: rotate(108deg);
}
.ring-innerTextItem[style-angle="109"] {
  transform: rotate(109deg);
}
.ring-innerTextItem[style-angle="110"] {
  transform: rotate(110deg);
}
.ring-innerTextItem[style-angle="111"] {
  transform: rotate(111deg);
}
.ring-innerTextItem[style-angle="112"] {
  transform: rotate(112deg);
}
.ring-innerTextItem[style-angle="113"] {
  transform: rotate(113deg);
}
.ring-innerTextItem[style-angle="114"] {
  transform: rotate(114deg);
}
.ring-innerTextItem[style-angle="115"] {
  transform: rotate(115deg);
}
.ring-innerTextItem[style-angle="116"] {
  transform: rotate(116deg);
}
.ring-innerTextItem[style-angle="117"] {
  transform: rotate(117deg);
}
.ring-innerTextItem[style-angle="118"] {
  transform: rotate(118deg);
}
.ring-innerTextItem[style-angle="119"] {
  transform: rotate(119deg);
}
.ring-innerTextItem[style-angle="120"] {
  transform: rotate(120deg);
}
.ring-innerTextItem[style-angle="121"] {
  transform: rotate(121deg);
}
.ring-innerTextItem[style-angle="122"] {
  transform: rotate(122deg);
}
.ring-innerTextItem[style-angle="123"] {
  transform: rotate(123deg);
}
.ring-innerTextItem[style-angle="124"] {
  transform: rotate(124deg);
}
.ring-innerTextItem[style-angle="125"] {
  transform: rotate(125deg);
}
.ring-innerTextItem[style-angle="126"] {
  transform: rotate(126deg);
}
.ring-innerTextItem[style-angle="127"] {
  transform: rotate(127deg);
}
.ring-innerTextItem[style-angle="128"] {
  transform: rotate(128deg);
}
.ring-innerTextItem[style-angle="129"] {
  transform: rotate(129deg);
}
.ring-innerTextItem[style-angle="130"] {
  transform: rotate(130deg);
}
.ring-innerTextItem[style-angle="131"] {
  transform: rotate(131deg);
}
.ring-innerTextItem[style-angle="132"] {
  transform: rotate(132deg);
}
.ring-innerTextItem[style-angle="133"] {
  transform: rotate(133deg);
}
.ring-innerTextItem[style-angle="134"] {
  transform: rotate(134deg);
}
.ring-innerTextItem[style-angle="135"] {
  transform: rotate(135deg);
}
.ring-innerTextItem[style-angle="136"] {
  transform: rotate(136deg);
}
.ring-innerTextItem[style-angle="137"] {
  transform: rotate(137deg);
}
.ring-innerTextItem[style-angle="138"] {
  transform: rotate(138deg);
}
.ring-innerTextItem[style-angle="139"] {
  transform: rotate(139deg);
}
.ring-innerTextItem[style-angle="140"] {
  transform: rotate(140deg);
}
.ring-innerTextItem[style-angle="141"] {
  transform: rotate(141deg);
}
.ring-innerTextItem[style-angle="142"] {
  transform: rotate(142deg);
}
.ring-innerTextItem[style-angle="143"] {
  transform: rotate(143deg);
}
.ring-innerTextItem[style-angle="144"] {
  transform: rotate(144deg);
}
.ring-innerTextItem[style-angle="145"] {
  transform: rotate(145deg);
}
.ring-innerTextItem[style-angle="146"] {
  transform: rotate(146deg);
}
.ring-innerTextItem[style-angle="147"] {
  transform: rotate(147deg);
}
.ring-innerTextItem[style-angle="148"] {
  transform: rotate(148deg);
}
.ring-innerTextItem[style-angle="149"] {
  transform: rotate(149deg);
}
.ring-innerTextItem[style-angle="150"] {
  transform: rotate(150deg);
}
.ring-innerTextItem[style-angle="151"] {
  transform: rotate(151deg);
}
.ring-innerTextItem[style-angle="152"] {
  transform: rotate(152deg);
}
.ring-innerTextItem[style-angle="153"] {
  transform: rotate(153deg);
}
.ring-innerTextItem[style-angle="154"] {
  transform: rotate(154deg);
}
.ring-innerTextItem[style-angle="155"] {
  transform: rotate(155deg);
}
.ring-innerTextItem[style-angle="156"] {
  transform: rotate(156deg);
}
.ring-innerTextItem[style-angle="157"] {
  transform: rotate(157deg);
}
.ring-innerTextItem[style-angle="158"] {
  transform: rotate(158deg);
}
.ring-innerTextItem[style-angle="159"] {
  transform: rotate(159deg);
}
.ring-innerTextItem[style-angle="160"] {
  transform: rotate(160deg);
}
.ring-innerTextItem[style-angle="161"] {
  transform: rotate(161deg);
}
.ring-innerTextItem[style-angle="162"] {
  transform: rotate(162deg);
}
.ring-innerTextItem[style-angle="163"] {
  transform: rotate(163deg);
}
.ring-innerTextItem[style-angle="164"] {
  transform: rotate(164deg);
}
.ring-innerTextItem[style-angle="165"] {
  transform: rotate(165deg);
}
.ring-innerTextItem[style-angle="166"] {
  transform: rotate(166deg);
}
.ring-innerTextItem[style-angle="167"] {
  transform: rotate(167deg);
}
.ring-innerTextItem[style-angle="168"] {
  transform: rotate(168deg);
}
.ring-innerTextItem[style-angle="169"] {
  transform: rotate(169deg);
}
.ring-innerTextItem[style-angle="170"] {
  transform: rotate(170deg);
}
.ring-innerTextItem[style-angle="171"] {
  transform: rotate(171deg);
}
.ring-innerTextItem[style-angle="172"] {
  transform: rotate(172deg);
}
.ring-innerTextItem[style-angle="173"] {
  transform: rotate(173deg);
}
.ring-innerTextItem[style-angle="174"] {
  transform: rotate(174deg);
}
.ring-innerTextItem[style-angle="175"] {
  transform: rotate(175deg);
}
.ring-innerTextItem[style-angle="176"] {
  transform: rotate(176deg);
}
.ring-innerTextItem[style-angle="177"] {
  transform: rotate(177deg);
}
.ring-innerTextItem[style-angle="178"] {
  transform: rotate(178deg);
}
.ring-innerTextItem[style-angle="179"] {
  transform: rotate(179deg);
}
.ring-innerTextItem[style-angle="180"] {
  transform: rotate(180deg);
}
.ring-innerTextItem[style-angle="181"] {
  transform: rotate(181deg);
}
.ring-innerTextItem[style-angle="182"] {
  transform: rotate(182deg);
}
.ring-innerTextItem[style-angle="183"] {
  transform: rotate(183deg);
}
.ring-innerTextItem[style-angle="184"] {
  transform: rotate(184deg);
}
.ring-innerTextItem[style-angle="185"] {
  transform: rotate(185deg);
}
.ring-innerTextItem[style-angle="186"] {
  transform: rotate(186deg);
}
.ring-innerTextItem[style-angle="187"] {
  transform: rotate(187deg);
}
.ring-innerTextItem[style-angle="188"] {
  transform: rotate(188deg);
}
.ring-innerTextItem[style-angle="189"] {
  transform: rotate(189deg);
}
.ring-innerTextItem[style-angle="190"] {
  transform: rotate(190deg);
}
.ring-innerTextItem[style-angle="191"] {
  transform: rotate(191deg);
}
.ring-innerTextItem[style-angle="192"] {
  transform: rotate(192deg);
}
.ring-innerTextItem[style-angle="193"] {
  transform: rotate(193deg);
}
.ring-innerTextItem[style-angle="194"] {
  transform: rotate(194deg);
}
.ring-innerTextItem[style-angle="195"] {
  transform: rotate(195deg);
}
.ring-innerTextItem[style-angle="196"] {
  transform: rotate(196deg);
}
.ring-innerTextItem[style-angle="197"] {
  transform: rotate(197deg);
}
.ring-innerTextItem[style-angle="198"] {
  transform: rotate(198deg);
}
.ring-innerTextItem[style-angle="199"] {
  transform: rotate(199deg);
}
.ring-innerTextItem[style-angle="200"] {
  transform: rotate(200deg);
}
.ring-innerTextItem[style-angle="201"] {
  transform: rotate(201deg);
}
.ring-innerTextItem[style-angle="202"] {
  transform: rotate(202deg);
}
.ring-innerTextItem[style-angle="203"] {
  transform: rotate(203deg);
}
.ring-innerTextItem[style-angle="204"] {
  transform: rotate(204deg);
}
.ring-innerTextItem[style-angle="205"] {
  transform: rotate(205deg);
}
.ring-innerTextItem[style-angle="206"] {
  transform: rotate(206deg);
}
.ring-innerTextItem[style-angle="207"] {
  transform: rotate(207deg);
}
.ring-innerTextItem[style-angle="208"] {
  transform: rotate(208deg);
}
.ring-innerTextItem[style-angle="209"] {
  transform: rotate(209deg);
}
.ring-innerTextItem[style-angle="210"] {
  transform: rotate(210deg);
}
.ring-innerTextItem[style-angle="211"] {
  transform: rotate(211deg);
}
.ring-innerTextItem[style-angle="212"] {
  transform: rotate(212deg);
}
.ring-innerTextItem[style-angle="213"] {
  transform: rotate(213deg);
}
.ring-innerTextItem[style-angle="214"] {
  transform: rotate(214deg);
}
.ring-innerTextItem[style-angle="215"] {
  transform: rotate(215deg);
}
.ring-innerTextItem[style-angle="216"] {
  transform: rotate(216deg);
}
.ring-innerTextItem[style-angle="217"] {
  transform: rotate(217deg);
}
.ring-innerTextItem[style-angle="218"] {
  transform: rotate(218deg);
}
.ring-innerTextItem[style-angle="219"] {
  transform: rotate(219deg);
}
.ring-innerTextItem[style-angle="220"] {
  transform: rotate(220deg);
}
.ring-innerTextItem[style-angle="221"] {
  transform: rotate(221deg);
}
.ring-innerTextItem[style-angle="222"] {
  transform: rotate(222deg);
}
.ring-innerTextItem[style-angle="223"] {
  transform: rotate(223deg);
}
.ring-innerTextItem[style-angle="224"] {
  transform: rotate(224deg);
}
.ring-innerTextItem[style-angle="225"] {
  transform: rotate(225deg);
}
.ring-innerTextItem[style-angle="226"] {
  transform: rotate(226deg);
}
.ring-innerTextItem[style-angle="227"] {
  transform: rotate(227deg);
}
.ring-innerTextItem[style-angle="228"] {
  transform: rotate(228deg);
}
.ring-innerTextItem[style-angle="229"] {
  transform: rotate(229deg);
}
.ring-innerTextItem[style-angle="230"] {
  transform: rotate(230deg);
}
.ring-innerTextItem[style-angle="231"] {
  transform: rotate(231deg);
}
.ring-innerTextItem[style-angle="232"] {
  transform: rotate(232deg);
}
.ring-innerTextItem[style-angle="233"] {
  transform: rotate(233deg);
}
.ring-innerTextItem[style-angle="234"] {
  transform: rotate(234deg);
}
.ring-innerTextItem[style-angle="235"] {
  transform: rotate(235deg);
}
.ring-innerTextItem[style-angle="236"] {
  transform: rotate(236deg);
}
.ring-innerTextItem[style-angle="237"] {
  transform: rotate(237deg);
}
.ring-innerTextItem[style-angle="238"] {
  transform: rotate(238deg);
}
.ring-innerTextItem[style-angle="239"] {
  transform: rotate(239deg);
}
.ring-innerTextItem[style-angle="240"] {
  transform: rotate(240deg);
}
.ring-innerTextItem[style-angle="241"] {
  transform: rotate(241deg);
}
.ring-innerTextItem[style-angle="242"] {
  transform: rotate(242deg);
}
.ring-innerTextItem[style-angle="243"] {
  transform: rotate(243deg);
}
.ring-innerTextItem[style-angle="244"] {
  transform: rotate(244deg);
}
.ring-innerTextItem[style-angle="245"] {
  transform: rotate(245deg);
}
.ring-innerTextItem[style-angle="246"] {
  transform: rotate(246deg);
}
.ring-innerTextItem[style-angle="247"] {
  transform: rotate(247deg);
}
.ring-innerTextItem[style-angle="248"] {
  transform: rotate(248deg);
}
.ring-innerTextItem[style-angle="249"] {
  transform: rotate(249deg);
}
.ring-innerTextItem[style-angle="250"] {
  transform: rotate(250deg);
}
.ring-innerTextItem[style-angle="251"] {
  transform: rotate(251deg);
}
.ring-innerTextItem[style-angle="252"] {
  transform: rotate(252deg);
}
.ring-innerTextItem[style-angle="253"] {
  transform: rotate(253deg);
}
.ring-innerTextItem[style-angle="254"] {
  transform: rotate(254deg);
}
.ring-innerTextItem[style-angle="255"] {
  transform: rotate(255deg);
}
.ring-innerTextItem[style-angle="256"] {
  transform: rotate(256deg);
}
.ring-innerTextItem[style-angle="257"] {
  transform: rotate(257deg);
}
.ring-innerTextItem[style-angle="258"] {
  transform: rotate(258deg);
}
.ring-innerTextItem[style-angle="259"] {
  transform: rotate(259deg);
}
.ring-innerTextItem[style-angle="260"] {
  transform: rotate(260deg);
}
.ring-innerTextItem[style-angle="261"] {
  transform: rotate(261deg);
}
.ring-innerTextItem[style-angle="262"] {
  transform: rotate(262deg);
}
.ring-innerTextItem[style-angle="263"] {
  transform: rotate(263deg);
}
.ring-innerTextItem[style-angle="264"] {
  transform: rotate(264deg);
}
.ring-innerTextItem[style-angle="265"] {
  transform: rotate(265deg);
}
.ring-innerTextItem[style-angle="266"] {
  transform: rotate(266deg);
}
.ring-innerTextItem[style-angle="267"] {
  transform: rotate(267deg);
}
.ring-innerTextItem[style-angle="268"] {
  transform: rotate(268deg);
}
.ring-innerTextItem[style-angle="269"] {
  transform: rotate(269deg);
}
.ring-innerTextItem[style-angle="270"] {
  transform: rotate(270deg);
}
.ring-innerTextItem[style-angle="271"] {
  transform: rotate(271deg);
}
.ring-innerTextItem[style-angle="272"] {
  transform: rotate(272deg);
}
.ring-innerTextItem[style-angle="273"] {
  transform: rotate(273deg);
}
.ring-innerTextItem[style-angle="274"] {
  transform: rotate(274deg);
}
.ring-innerTextItem[style-angle="275"] {
  transform: rotate(275deg);
}
.ring-innerTextItem[style-angle="276"] {
  transform: rotate(276deg);
}
.ring-innerTextItem[style-angle="277"] {
  transform: rotate(277deg);
}
.ring-innerTextItem[style-angle="278"] {
  transform: rotate(278deg);
}
.ring-innerTextItem[style-angle="279"] {
  transform: rotate(279deg);
}
.ring-innerTextItem[style-angle="280"] {
  transform: rotate(280deg);
}
.ring-innerTextItem[style-angle="281"] {
  transform: rotate(281deg);
}
.ring-innerTextItem[style-angle="282"] {
  transform: rotate(282deg);
}
.ring-innerTextItem[style-angle="283"] {
  transform: rotate(283deg);
}
.ring-innerTextItem[style-angle="284"] {
  transform: rotate(284deg);
}
.ring-innerTextItem[style-angle="285"] {
  transform: rotate(285deg);
}
.ring-innerTextItem[style-angle="286"] {
  transform: rotate(286deg);
}
.ring-innerTextItem[style-angle="287"] {
  transform: rotate(287deg);
}
.ring-innerTextItem[style-angle="288"] {
  transform: rotate(288deg);
}
.ring-innerTextItem[style-angle="289"] {
  transform: rotate(289deg);
}
.ring-innerTextItem[style-angle="290"] {
  transform: rotate(290deg);
}
.ring-innerTextItem[style-angle="291"] {
  transform: rotate(291deg);
}
.ring-innerTextItem[style-angle="292"] {
  transform: rotate(292deg);
}
.ring-innerTextItem[style-angle="293"] {
  transform: rotate(293deg);
}
.ring-innerTextItem[style-angle="294"] {
  transform: rotate(294deg);
}
.ring-innerTextItem[style-angle="295"] {
  transform: rotate(295deg);
}
.ring-innerTextItem[style-angle="296"] {
  transform: rotate(296deg);
}
.ring-innerTextItem[style-angle="297"] {
  transform: rotate(297deg);
}
.ring-innerTextItem[style-angle="298"] {
  transform: rotate(298deg);
}
.ring-innerTextItem[style-angle="299"] {
  transform: rotate(299deg);
}
.ring-innerTextItem[style-angle="300"] {
  transform: rotate(300deg);
}
.ring-innerTextItem[style-angle="301"] {
  transform: rotate(301deg);
}
.ring-innerTextItem[style-angle="302"] {
  transform: rotate(302deg);
}
.ring-innerTextItem[style-angle="303"] {
  transform: rotate(303deg);
}
.ring-innerTextItem[style-angle="304"] {
  transform: rotate(304deg);
}
.ring-innerTextItem[style-angle="305"] {
  transform: rotate(305deg);
}
.ring-innerTextItem[style-angle="306"] {
  transform: rotate(306deg);
}
.ring-innerTextItem[style-angle="307"] {
  transform: rotate(307deg);
}
.ring-innerTextItem[style-angle="308"] {
  transform: rotate(308deg);
}
.ring-innerTextItem[style-angle="309"] {
  transform: rotate(309deg);
}
.ring-innerTextItem[style-angle="310"] {
  transform: rotate(310deg);
}
.ring-innerTextItem[style-angle="311"] {
  transform: rotate(311deg);
}
.ring-innerTextItem[style-angle="312"] {
  transform: rotate(312deg);
}
.ring-innerTextItem[style-angle="313"] {
  transform: rotate(313deg);
}
.ring-innerTextItem[style-angle="314"] {
  transform: rotate(314deg);
}
.ring-innerTextItem[style-angle="315"] {
  transform: rotate(315deg);
}
.ring-innerTextItem[style-angle="316"] {
  transform: rotate(316deg);
}
.ring-innerTextItem[style-angle="317"] {
  transform: rotate(317deg);
}
.ring-innerTextItem[style-angle="318"] {
  transform: rotate(318deg);
}
.ring-innerTextItem[style-angle="319"] {
  transform: rotate(319deg);
}
.ring-innerTextItem[style-angle="320"] {
  transform: rotate(320deg);
}
.ring-innerTextItem[style-angle="321"] {
  transform: rotate(321deg);
}
.ring-innerTextItem[style-angle="322"] {
  transform: rotate(322deg);
}
.ring-innerTextItem[style-angle="323"] {
  transform: rotate(323deg);
}
.ring-innerTextItem[style-angle="324"] {
  transform: rotate(324deg);
}
.ring-innerTextItem[style-angle="325"] {
  transform: rotate(325deg);
}
.ring-innerTextItem[style-angle="326"] {
  transform: rotate(326deg);
}
.ring-innerTextItem[style-angle="327"] {
  transform: rotate(327deg);
}
.ring-innerTextItem[style-angle="328"] {
  transform: rotate(328deg);
}
.ring-innerTextItem[style-angle="329"] {
  transform: rotate(329deg);
}
.ring-innerTextItem[style-angle="330"] {
  transform: rotate(330deg);
}
.ring-innerTextItem[style-angle="331"] {
  transform: rotate(331deg);
}
.ring-innerTextItem[style-angle="332"] {
  transform: rotate(332deg);
}
.ring-innerTextItem[style-angle="333"] {
  transform: rotate(333deg);
}
.ring-innerTextItem[style-angle="334"] {
  transform: rotate(334deg);
}
.ring-innerTextItem[style-angle="335"] {
  transform: rotate(335deg);
}
.ring-innerTextItem[style-angle="336"] {
  transform: rotate(336deg);
}
.ring-innerTextItem[style-angle="337"] {
  transform: rotate(337deg);
}
.ring-innerTextItem[style-angle="338"] {
  transform: rotate(338deg);
}
.ring-innerTextItem[style-angle="339"] {
  transform: rotate(339deg);
}
.ring-innerTextItem[style-angle="340"] {
  transform: rotate(340deg);
}
.ring-innerTextItem[style-angle="341"] {
  transform: rotate(341deg);
}
.ring-innerTextItem[style-angle="342"] {
  transform: rotate(342deg);
}
.ring-innerTextItem[style-angle="343"] {
  transform: rotate(343deg);
}
.ring-innerTextItem[style-angle="344"] {
  transform: rotate(344deg);
}
.ring-innerTextItem[style-angle="345"] {
  transform: rotate(345deg);
}
.ring-innerTextItem[style-angle="346"] {
  transform: rotate(346deg);
}
.ring-innerTextItem[style-angle="347"] {
  transform: rotate(347deg);
}
.ring-innerTextItem[style-angle="348"] {
  transform: rotate(348deg);
}
.ring-innerTextItem[style-angle="349"] {
  transform: rotate(349deg);
}
.ring-innerTextItem[style-angle="350"] {
  transform: rotate(350deg);
}
.ring-innerTextItem[style-angle="351"] {
  transform: rotate(351deg);
}
.ring-innerTextItem[style-angle="352"] {
  transform: rotate(352deg);
}
.ring-innerTextItem[style-angle="353"] {
  transform: rotate(353deg);
}
.ring-innerTextItem[style-angle="354"] {
  transform: rotate(354deg);
}
.ring-innerTextItem[style-angle="355"] {
  transform: rotate(355deg);
}
.ring-innerTextItem[style-angle="356"] {
  transform: rotate(356deg);
}
.ring-innerTextItem[style-angle="357"] {
  transform: rotate(357deg);
}
.ring-innerTextItem[style-angle="358"] {
  transform: rotate(358deg);
}
.ring-innerTextItem[style-angle="359"] {
  transform: rotate(359deg);
}

.filledTriangle {
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
  border-bottom: 277.1281292112px solid #007599;
  margin-top: -19.4359353944px;
}

.borderTriangle {
  width: 100%;
  height: 100%;
  border-top: 1px solid #007599;
  position: relative;
  margin-top: 20.0961894323%;
}
.borderTriangle:before, .borderTriangle:after {
  content: "";
  background-color: #007599;
  width: 1px;
  display: block;
  height: 86.6025403785%;
  position: absolute;
  top: 0;
}
.borderTriangle:before {
  left: 0;
  transform: skew(30deg);
  transform-origin: 0% 0%;
}
.borderTriangle:after {
  right: 0;
  transform: skew(-30deg);
  transform-origin: 0% 0%;
}

.hexagram {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.is-up,
.is-down {
  width: 100%;
  height: 100%;
  border-top: 2px solid #007599;
  position: relative;
  margin-top: 20.0961894323%;
}
.is-up:before, .is-up:after,
.is-down:before,
.is-down:after {
  content: "";
  background-color: #007599;
  width: 1px;
  display: block;
  height: 86.6025403785%;
  position: absolute;
  top: 0;
}
.is-up:before,
.is-down:before {
  left: 0;
  transform: skew(30deg);
  transform-origin: 0% 0%;
}
.is-up:after,
.is-down:after {
  right: 0;
  transform: skew(-30deg);
  transform-origin: 0% 0%;
}

.is-down {
  transform: rotate(180deg);
  margin-top: -141%;
}

.balls {
  position: relative;
  width: 100%;
  height: 100%;
}

.ball_item {
  position: absolute;
  height: 100%;
  width: 2px;
  transform-origin: 50% 50%;
  left: calc(50% - 1px);
  top: 0;
}
.ball_item:before {
  content: "";
  width: 32px;
  height: 32px;
  box-shadow: 0px 0px 8px #09ECF9;
  display: block;
  background: radial-gradient(#09ECF9, #007599);
  border-radius: 1000px;
}

.ball_item[style-angle="0"] {
  transform: rotate(0deg);
}
.ball_item[style-angle="1"] {
  transform: rotate(1deg);
}
.ball_item[style-angle="2"] {
  transform: rotate(2deg);
}
.ball_item[style-angle="3"] {
  transform: rotate(3deg);
}
.ball_item[style-angle="4"] {
  transform: rotate(4deg);
}
.ball_item[style-angle="5"] {
  transform: rotate(5deg);
}
.ball_item[style-angle="6"] {
  transform: rotate(6deg);
}
.ball_item[style-angle="7"] {
  transform: rotate(7deg);
}
.ball_item[style-angle="8"] {
  transform: rotate(8deg);
}
.ball_item[style-angle="9"] {
  transform: rotate(9deg);
}
.ball_item[style-angle="10"] {
  transform: rotate(10deg);
}
.ball_item[style-angle="11"] {
  transform: rotate(11deg);
}
.ball_item[style-angle="12"] {
  transform: rotate(12deg);
}
.ball_item[style-angle="13"] {
  transform: rotate(13deg);
}
.ball_item[style-angle="14"] {
  transform: rotate(14deg);
}
.ball_item[style-angle="15"] {
  transform: rotate(15deg);
}
.ball_item[style-angle="16"] {
  transform: rotate(16deg);
}
.ball_item[style-angle="17"] {
  transform: rotate(17deg);
}
.ball_item[style-angle="18"] {
  transform: rotate(18deg);
}
.ball_item[style-angle="19"] {
  transform: rotate(19deg);
}
.ball_item[style-angle="20"] {
  transform: rotate(20deg);
}
.ball_item[style-angle="21"] {
  transform: rotate(21deg);
}
.ball_item[style-angle="22"] {
  transform: rotate(22deg);
}
.ball_item[style-angle="23"] {
  transform: rotate(23deg);
}
.ball_item[style-angle="24"] {
  transform: rotate(24deg);
}
.ball_item[style-angle="25"] {
  transform: rotate(25deg);
}
.ball_item[style-angle="26"] {
  transform: rotate(26deg);
}
.ball_item[style-angle="27"] {
  transform: rotate(27deg);
}
.ball_item[style-angle="28"] {
  transform: rotate(28deg);
}
.ball_item[style-angle="29"] {
  transform: rotate(29deg);
}
.ball_item[style-angle="30"] {
  transform: rotate(30deg);
}
.ball_item[style-angle="31"] {
  transform: rotate(31deg);
}
.ball_item[style-angle="32"] {
  transform: rotate(32deg);
}
.ball_item[style-angle="33"] {
  transform: rotate(33deg);
}
.ball_item[style-angle="34"] {
  transform: rotate(34deg);
}
.ball_item[style-angle="35"] {
  transform: rotate(35deg);
}
.ball_item[style-angle="36"] {
  transform: rotate(36deg);
}
.ball_item[style-angle="37"] {
  transform: rotate(37deg);
}
.ball_item[style-angle="38"] {
  transform: rotate(38deg);
}
.ball_item[style-angle="39"] {
  transform: rotate(39deg);
}
.ball_item[style-angle="40"] {
  transform: rotate(40deg);
}
.ball_item[style-angle="41"] {
  transform: rotate(41deg);
}
.ball_item[style-angle="42"] {
  transform: rotate(42deg);
}
.ball_item[style-angle="43"] {
  transform: rotate(43deg);
}
.ball_item[style-angle="44"] {
  transform: rotate(44deg);
}
.ball_item[style-angle="45"] {
  transform: rotate(45deg);
}
.ball_item[style-angle="46"] {
  transform: rotate(46deg);
}
.ball_item[style-angle="47"] {
  transform: rotate(47deg);
}
.ball_item[style-angle="48"] {
  transform: rotate(48deg);
}
.ball_item[style-angle="49"] {
  transform: rotate(49deg);
}
.ball_item[style-angle="50"] {
  transform: rotate(50deg);
}
.ball_item[style-angle="51"] {
  transform: rotate(51deg);
}
.ball_item[style-angle="52"] {
  transform: rotate(52deg);
}
.ball_item[style-angle="53"] {
  transform: rotate(53deg);
}
.ball_item[style-angle="54"] {
  transform: rotate(54deg);
}
.ball_item[style-angle="55"] {
  transform: rotate(55deg);
}
.ball_item[style-angle="56"] {
  transform: rotate(56deg);
}
.ball_item[style-angle="57"] {
  transform: rotate(57deg);
}
.ball_item[style-angle="58"] {
  transform: rotate(58deg);
}
.ball_item[style-angle="59"] {
  transform: rotate(59deg);
}
.ball_item[style-angle="60"] {
  transform: rotate(60deg);
}
.ball_item[style-angle="61"] {
  transform: rotate(61deg);
}
.ball_item[style-angle="62"] {
  transform: rotate(62deg);
}
.ball_item[style-angle="63"] {
  transform: rotate(63deg);
}
.ball_item[style-angle="64"] {
  transform: rotate(64deg);
}
.ball_item[style-angle="65"] {
  transform: rotate(65deg);
}
.ball_item[style-angle="66"] {
  transform: rotate(66deg);
}
.ball_item[style-angle="67"] {
  transform: rotate(67deg);
}
.ball_item[style-angle="68"] {
  transform: rotate(68deg);
}
.ball_item[style-angle="69"] {
  transform: rotate(69deg);
}
.ball_item[style-angle="70"] {
  transform: rotate(70deg);
}
.ball_item[style-angle="71"] {
  transform: rotate(71deg);
}
.ball_item[style-angle="72"] {
  transform: rotate(72deg);
}
.ball_item[style-angle="73"] {
  transform: rotate(73deg);
}
.ball_item[style-angle="74"] {
  transform: rotate(74deg);
}
.ball_item[style-angle="75"] {
  transform: rotate(75deg);
}
.ball_item[style-angle="76"] {
  transform: rotate(76deg);
}
.ball_item[style-angle="77"] {
  transform: rotate(77deg);
}
.ball_item[style-angle="78"] {
  transform: rotate(78deg);
}
.ball_item[style-angle="79"] {
  transform: rotate(79deg);
}
.ball_item[style-angle="80"] {
  transform: rotate(80deg);
}
.ball_item[style-angle="81"] {
  transform: rotate(81deg);
}
.ball_item[style-angle="82"] {
  transform: rotate(82deg);
}
.ball_item[style-angle="83"] {
  transform: rotate(83deg);
}
.ball_item[style-angle="84"] {
  transform: rotate(84deg);
}
.ball_item[style-angle="85"] {
  transform: rotate(85deg);
}
.ball_item[style-angle="86"] {
  transform: rotate(86deg);
}
.ball_item[style-angle="87"] {
  transform: rotate(87deg);
}
.ball_item[style-angle="88"] {
  transform: rotate(88deg);
}
.ball_item[style-angle="89"] {
  transform: rotate(89deg);
}
.ball_item[style-angle="90"] {
  transform: rotate(90deg);
}
.ball_item[style-angle="91"] {
  transform: rotate(91deg);
}
.ball_item[style-angle="92"] {
  transform: rotate(92deg);
}
.ball_item[style-angle="93"] {
  transform: rotate(93deg);
}
.ball_item[style-angle="94"] {
  transform: rotate(94deg);
}
.ball_item[style-angle="95"] {
  transform: rotate(95deg);
}
.ball_item[style-angle="96"] {
  transform: rotate(96deg);
}
.ball_item[style-angle="97"] {
  transform: rotate(97deg);
}
.ball_item[style-angle="98"] {
  transform: rotate(98deg);
}
.ball_item[style-angle="99"] {
  transform: rotate(99deg);
}
.ball_item[style-angle="100"] {
  transform: rotate(100deg);
}
.ball_item[style-angle="101"] {
  transform: rotate(101deg);
}
.ball_item[style-angle="102"] {
  transform: rotate(102deg);
}
.ball_item[style-angle="103"] {
  transform: rotate(103deg);
}
.ball_item[style-angle="104"] {
  transform: rotate(104deg);
}
.ball_item[style-angle="105"] {
  transform: rotate(105deg);
}
.ball_item[style-angle="106"] {
  transform: rotate(106deg);
}
.ball_item[style-angle="107"] {
  transform: rotate(107deg);
}
.ball_item[style-angle="108"] {
  transform: rotate(108deg);
}
.ball_item[style-angle="109"] {
  transform: rotate(109deg);
}
.ball_item[style-angle="110"] {
  transform: rotate(110deg);
}
.ball_item[style-angle="111"] {
  transform: rotate(111deg);
}
.ball_item[style-angle="112"] {
  transform: rotate(112deg);
}
.ball_item[style-angle="113"] {
  transform: rotate(113deg);
}
.ball_item[style-angle="114"] {
  transform: rotate(114deg);
}
.ball_item[style-angle="115"] {
  transform: rotate(115deg);
}
.ball_item[style-angle="116"] {
  transform: rotate(116deg);
}
.ball_item[style-angle="117"] {
  transform: rotate(117deg);
}
.ball_item[style-angle="118"] {
  transform: rotate(118deg);
}
.ball_item[style-angle="119"] {
  transform: rotate(119deg);
}
.ball_item[style-angle="120"] {
  transform: rotate(120deg);
}
.ball_item[style-angle="121"] {
  transform: rotate(121deg);
}
.ball_item[style-angle="122"] {
  transform: rotate(122deg);
}
.ball_item[style-angle="123"] {
  transform: rotate(123deg);
}
.ball_item[style-angle="124"] {
  transform: rotate(124deg);
}
.ball_item[style-angle="125"] {
  transform: rotate(125deg);
}
.ball_item[style-angle="126"] {
  transform: rotate(126deg);
}
.ball_item[style-angle="127"] {
  transform: rotate(127deg);
}
.ball_item[style-angle="128"] {
  transform: rotate(128deg);
}
.ball_item[style-angle="129"] {
  transform: rotate(129deg);
}
.ball_item[style-angle="130"] {
  transform: rotate(130deg);
}
.ball_item[style-angle="131"] {
  transform: rotate(131deg);
}
.ball_item[style-angle="132"] {
  transform: rotate(132deg);
}
.ball_item[style-angle="133"] {
  transform: rotate(133deg);
}
.ball_item[style-angle="134"] {
  transform: rotate(134deg);
}
.ball_item[style-angle="135"] {
  transform: rotate(135deg);
}
.ball_item[style-angle="136"] {
  transform: rotate(136deg);
}
.ball_item[style-angle="137"] {
  transform: rotate(137deg);
}
.ball_item[style-angle="138"] {
  transform: rotate(138deg);
}
.ball_item[style-angle="139"] {
  transform: rotate(139deg);
}
.ball_item[style-angle="140"] {
  transform: rotate(140deg);
}
.ball_item[style-angle="141"] {
  transform: rotate(141deg);
}
.ball_item[style-angle="142"] {
  transform: rotate(142deg);
}
.ball_item[style-angle="143"] {
  transform: rotate(143deg);
}
.ball_item[style-angle="144"] {
  transform: rotate(144deg);
}
.ball_item[style-angle="145"] {
  transform: rotate(145deg);
}
.ball_item[style-angle="146"] {
  transform: rotate(146deg);
}
.ball_item[style-angle="147"] {
  transform: rotate(147deg);
}
.ball_item[style-angle="148"] {
  transform: rotate(148deg);
}
.ball_item[style-angle="149"] {
  transform: rotate(149deg);
}
.ball_item[style-angle="150"] {
  transform: rotate(150deg);
}
.ball_item[style-angle="151"] {
  transform: rotate(151deg);
}
.ball_item[style-angle="152"] {
  transform: rotate(152deg);
}
.ball_item[style-angle="153"] {
  transform: rotate(153deg);
}
.ball_item[style-angle="154"] {
  transform: rotate(154deg);
}
.ball_item[style-angle="155"] {
  transform: rotate(155deg);
}
.ball_item[style-angle="156"] {
  transform: rotate(156deg);
}
.ball_item[style-angle="157"] {
  transform: rotate(157deg);
}
.ball_item[style-angle="158"] {
  transform: rotate(158deg);
}
.ball_item[style-angle="159"] {
  transform: rotate(159deg);
}
.ball_item[style-angle="160"] {
  transform: rotate(160deg);
}
.ball_item[style-angle="161"] {
  transform: rotate(161deg);
}
.ball_item[style-angle="162"] {
  transform: rotate(162deg);
}
.ball_item[style-angle="163"] {
  transform: rotate(163deg);
}
.ball_item[style-angle="164"] {
  transform: rotate(164deg);
}
.ball_item[style-angle="165"] {
  transform: rotate(165deg);
}
.ball_item[style-angle="166"] {
  transform: rotate(166deg);
}
.ball_item[style-angle="167"] {
  transform: rotate(167deg);
}
.ball_item[style-angle="168"] {
  transform: rotate(168deg);
}
.ball_item[style-angle="169"] {
  transform: rotate(169deg);
}
.ball_item[style-angle="170"] {
  transform: rotate(170deg);
}
.ball_item[style-angle="171"] {
  transform: rotate(171deg);
}
.ball_item[style-angle="172"] {
  transform: rotate(172deg);
}
.ball_item[style-angle="173"] {
  transform: rotate(173deg);
}
.ball_item[style-angle="174"] {
  transform: rotate(174deg);
}
.ball_item[style-angle="175"] {
  transform: rotate(175deg);
}
.ball_item[style-angle="176"] {
  transform: rotate(176deg);
}
.ball_item[style-angle="177"] {
  transform: rotate(177deg);
}
.ball_item[style-angle="178"] {
  transform: rotate(178deg);
}
.ball_item[style-angle="179"] {
  transform: rotate(179deg);
}
.ball_item[style-angle="180"] {
  transform: rotate(180deg);
}
.ball_item[style-angle="181"] {
  transform: rotate(181deg);
}
.ball_item[style-angle="182"] {
  transform: rotate(182deg);
}
.ball_item[style-angle="183"] {
  transform: rotate(183deg);
}
.ball_item[style-angle="184"] {
  transform: rotate(184deg);
}
.ball_item[style-angle="185"] {
  transform: rotate(185deg);
}
.ball_item[style-angle="186"] {
  transform: rotate(186deg);
}
.ball_item[style-angle="187"] {
  transform: rotate(187deg);
}
.ball_item[style-angle="188"] {
  transform: rotate(188deg);
}
.ball_item[style-angle="189"] {
  transform: rotate(189deg);
}
.ball_item[style-angle="190"] {
  transform: rotate(190deg);
}
.ball_item[style-angle="191"] {
  transform: rotate(191deg);
}
.ball_item[style-angle="192"] {
  transform: rotate(192deg);
}
.ball_item[style-angle="193"] {
  transform: rotate(193deg);
}
.ball_item[style-angle="194"] {
  transform: rotate(194deg);
}
.ball_item[style-angle="195"] {
  transform: rotate(195deg);
}
.ball_item[style-angle="196"] {
  transform: rotate(196deg);
}
.ball_item[style-angle="197"] {
  transform: rotate(197deg);
}
.ball_item[style-angle="198"] {
  transform: rotate(198deg);
}
.ball_item[style-angle="199"] {
  transform: rotate(199deg);
}
.ball_item[style-angle="200"] {
  transform: rotate(200deg);
}
.ball_item[style-angle="201"] {
  transform: rotate(201deg);
}
.ball_item[style-angle="202"] {
  transform: rotate(202deg);
}
.ball_item[style-angle="203"] {
  transform: rotate(203deg);
}
.ball_item[style-angle="204"] {
  transform: rotate(204deg);
}
.ball_item[style-angle="205"] {
  transform: rotate(205deg);
}
.ball_item[style-angle="206"] {
  transform: rotate(206deg);
}
.ball_item[style-angle="207"] {
  transform: rotate(207deg);
}
.ball_item[style-angle="208"] {
  transform: rotate(208deg);
}
.ball_item[style-angle="209"] {
  transform: rotate(209deg);
}
.ball_item[style-angle="210"] {
  transform: rotate(210deg);
}
.ball_item[style-angle="211"] {
  transform: rotate(211deg);
}
.ball_item[style-angle="212"] {
  transform: rotate(212deg);
}
.ball_item[style-angle="213"] {
  transform: rotate(213deg);
}
.ball_item[style-angle="214"] {
  transform: rotate(214deg);
}
.ball_item[style-angle="215"] {
  transform: rotate(215deg);
}
.ball_item[style-angle="216"] {
  transform: rotate(216deg);
}
.ball_item[style-angle="217"] {
  transform: rotate(217deg);
}
.ball_item[style-angle="218"] {
  transform: rotate(218deg);
}
.ball_item[style-angle="219"] {
  transform: rotate(219deg);
}
.ball_item[style-angle="220"] {
  transform: rotate(220deg);
}
.ball_item[style-angle="221"] {
  transform: rotate(221deg);
}
.ball_item[style-angle="222"] {
  transform: rotate(222deg);
}
.ball_item[style-angle="223"] {
  transform: rotate(223deg);
}
.ball_item[style-angle="224"] {
  transform: rotate(224deg);
}
.ball_item[style-angle="225"] {
  transform: rotate(225deg);
}
.ball_item[style-angle="226"] {
  transform: rotate(226deg);
}
.ball_item[style-angle="227"] {
  transform: rotate(227deg);
}
.ball_item[style-angle="228"] {
  transform: rotate(228deg);
}
.ball_item[style-angle="229"] {
  transform: rotate(229deg);
}
.ball_item[style-angle="230"] {
  transform: rotate(230deg);
}
.ball_item[style-angle="231"] {
  transform: rotate(231deg);
}
.ball_item[style-angle="232"] {
  transform: rotate(232deg);
}
.ball_item[style-angle="233"] {
  transform: rotate(233deg);
}
.ball_item[style-angle="234"] {
  transform: rotate(234deg);
}
.ball_item[style-angle="235"] {
  transform: rotate(235deg);
}
.ball_item[style-angle="236"] {
  transform: rotate(236deg);
}
.ball_item[style-angle="237"] {
  transform: rotate(237deg);
}
.ball_item[style-angle="238"] {
  transform: rotate(238deg);
}
.ball_item[style-angle="239"] {
  transform: rotate(239deg);
}
.ball_item[style-angle="240"] {
  transform: rotate(240deg);
}
.ball_item[style-angle="241"] {
  transform: rotate(241deg);
}
.ball_item[style-angle="242"] {
  transform: rotate(242deg);
}
.ball_item[style-angle="243"] {
  transform: rotate(243deg);
}
.ball_item[style-angle="244"] {
  transform: rotate(244deg);
}
.ball_item[style-angle="245"] {
  transform: rotate(245deg);
}
.ball_item[style-angle="246"] {
  transform: rotate(246deg);
}
.ball_item[style-angle="247"] {
  transform: rotate(247deg);
}
.ball_item[style-angle="248"] {
  transform: rotate(248deg);
}
.ball_item[style-angle="249"] {
  transform: rotate(249deg);
}
.ball_item[style-angle="250"] {
  transform: rotate(250deg);
}
.ball_item[style-angle="251"] {
  transform: rotate(251deg);
}
.ball_item[style-angle="252"] {
  transform: rotate(252deg);
}
.ball_item[style-angle="253"] {
  transform: rotate(253deg);
}
.ball_item[style-angle="254"] {
  transform: rotate(254deg);
}
.ball_item[style-angle="255"] {
  transform: rotate(255deg);
}
.ball_item[style-angle="256"] {
  transform: rotate(256deg);
}
.ball_item[style-angle="257"] {
  transform: rotate(257deg);
}
.ball_item[style-angle="258"] {
  transform: rotate(258deg);
}
.ball_item[style-angle="259"] {
  transform: rotate(259deg);
}
.ball_item[style-angle="260"] {
  transform: rotate(260deg);
}
.ball_item[style-angle="261"] {
  transform: rotate(261deg);
}
.ball_item[style-angle="262"] {
  transform: rotate(262deg);
}
.ball_item[style-angle="263"] {
  transform: rotate(263deg);
}
.ball_item[style-angle="264"] {
  transform: rotate(264deg);
}
.ball_item[style-angle="265"] {
  transform: rotate(265deg);
}
.ball_item[style-angle="266"] {
  transform: rotate(266deg);
}
.ball_item[style-angle="267"] {
  transform: rotate(267deg);
}
.ball_item[style-angle="268"] {
  transform: rotate(268deg);
}
.ball_item[style-angle="269"] {
  transform: rotate(269deg);
}
.ball_item[style-angle="270"] {
  transform: rotate(270deg);
}
.ball_item[style-angle="271"] {
  transform: rotate(271deg);
}
.ball_item[style-angle="272"] {
  transform: rotate(272deg);
}
.ball_item[style-angle="273"] {
  transform: rotate(273deg);
}
.ball_item[style-angle="274"] {
  transform: rotate(274deg);
}
.ball_item[style-angle="275"] {
  transform: rotate(275deg);
}
.ball_item[style-angle="276"] {
  transform: rotate(276deg);
}
.ball_item[style-angle="277"] {
  transform: rotate(277deg);
}
.ball_item[style-angle="278"] {
  transform: rotate(278deg);
}
.ball_item[style-angle="279"] {
  transform: rotate(279deg);
}
.ball_item[style-angle="280"] {
  transform: rotate(280deg);
}
.ball_item[style-angle="281"] {
  transform: rotate(281deg);
}
.ball_item[style-angle="282"] {
  transform: rotate(282deg);
}
.ball_item[style-angle="283"] {
  transform: rotate(283deg);
}
.ball_item[style-angle="284"] {
  transform: rotate(284deg);
}
.ball_item[style-angle="285"] {
  transform: rotate(285deg);
}
.ball_item[style-angle="286"] {
  transform: rotate(286deg);
}
.ball_item[style-angle="287"] {
  transform: rotate(287deg);
}
.ball_item[style-angle="288"] {
  transform: rotate(288deg);
}
.ball_item[style-angle="289"] {
  transform: rotate(289deg);
}
.ball_item[style-angle="290"] {
  transform: rotate(290deg);
}
.ball_item[style-angle="291"] {
  transform: rotate(291deg);
}
.ball_item[style-angle="292"] {
  transform: rotate(292deg);
}
.ball_item[style-angle="293"] {
  transform: rotate(293deg);
}
.ball_item[style-angle="294"] {
  transform: rotate(294deg);
}
.ball_item[style-angle="295"] {
  transform: rotate(295deg);
}
.ball_item[style-angle="296"] {
  transform: rotate(296deg);
}
.ball_item[style-angle="297"] {
  transform: rotate(297deg);
}
.ball_item[style-angle="298"] {
  transform: rotate(298deg);
}
.ball_item[style-angle="299"] {
  transform: rotate(299deg);
}
.ball_item[style-angle="300"] {
  transform: rotate(300deg);
}
.ball_item[style-angle="301"] {
  transform: rotate(301deg);
}
.ball_item[style-angle="302"] {
  transform: rotate(302deg);
}
.ball_item[style-angle="303"] {
  transform: rotate(303deg);
}
.ball_item[style-angle="304"] {
  transform: rotate(304deg);
}
.ball_item[style-angle="305"] {
  transform: rotate(305deg);
}
.ball_item[style-angle="306"] {
  transform: rotate(306deg);
}
.ball_item[style-angle="307"] {
  transform: rotate(307deg);
}
.ball_item[style-angle="308"] {
  transform: rotate(308deg);
}
.ball_item[style-angle="309"] {
  transform: rotate(309deg);
}
.ball_item[style-angle="310"] {
  transform: rotate(310deg);
}
.ball_item[style-angle="311"] {
  transform: rotate(311deg);
}
.ball_item[style-angle="312"] {
  transform: rotate(312deg);
}
.ball_item[style-angle="313"] {
  transform: rotate(313deg);
}
.ball_item[style-angle="314"] {
  transform: rotate(314deg);
}
.ball_item[style-angle="315"] {
  transform: rotate(315deg);
}
.ball_item[style-angle="316"] {
  transform: rotate(316deg);
}
.ball_item[style-angle="317"] {
  transform: rotate(317deg);
}
.ball_item[style-angle="318"] {
  transform: rotate(318deg);
}
.ball_item[style-angle="319"] {
  transform: rotate(319deg);
}
.ball_item[style-angle="320"] {
  transform: rotate(320deg);
}
.ball_item[style-angle="321"] {
  transform: rotate(321deg);
}
.ball_item[style-angle="322"] {
  transform: rotate(322deg);
}
.ball_item[style-angle="323"] {
  transform: rotate(323deg);
}
.ball_item[style-angle="324"] {
  transform: rotate(324deg);
}
.ball_item[style-angle="325"] {
  transform: rotate(325deg);
}
.ball_item[style-angle="326"] {
  transform: rotate(326deg);
}
.ball_item[style-angle="327"] {
  transform: rotate(327deg);
}
.ball_item[style-angle="328"] {
  transform: rotate(328deg);
}
.ball_item[style-angle="329"] {
  transform: rotate(329deg);
}
.ball_item[style-angle="330"] {
  transform: rotate(330deg);
}
.ball_item[style-angle="331"] {
  transform: rotate(331deg);
}
.ball_item[style-angle="332"] {
  transform: rotate(332deg);
}
.ball_item[style-angle="333"] {
  transform: rotate(333deg);
}
.ball_item[style-angle="334"] {
  transform: rotate(334deg);
}
.ball_item[style-angle="335"] {
  transform: rotate(335deg);
}
.ball_item[style-angle="336"] {
  transform: rotate(336deg);
}
.ball_item[style-angle="337"] {
  transform: rotate(337deg);
}
.ball_item[style-angle="338"] {
  transform: rotate(338deg);
}
.ball_item[style-angle="339"] {
  transform: rotate(339deg);
}
.ball_item[style-angle="340"] {
  transform: rotate(340deg);
}
.ball_item[style-angle="341"] {
  transform: rotate(341deg);
}
.ball_item[style-angle="342"] {
  transform: rotate(342deg);
}
.ball_item[style-angle="343"] {
  transform: rotate(343deg);
}
.ball_item[style-angle="344"] {
  transform: rotate(344deg);
}
.ball_item[style-angle="345"] {
  transform: rotate(345deg);
}
.ball_item[style-angle="346"] {
  transform: rotate(346deg);
}
.ball_item[style-angle="347"] {
  transform: rotate(347deg);
}
.ball_item[style-angle="348"] {
  transform: rotate(348deg);
}
.ball_item[style-angle="349"] {
  transform: rotate(349deg);
}
.ball_item[style-angle="350"] {
  transform: rotate(350deg);
}
.ball_item[style-angle="351"] {
  transform: rotate(351deg);
}
.ball_item[style-angle="352"] {
  transform: rotate(352deg);
}
.ball_item[style-angle="353"] {
  transform: rotate(353deg);
}
.ball_item[style-angle="354"] {
  transform: rotate(354deg);
}
.ball_item[style-angle="355"] {
  transform: rotate(355deg);
}
.ball_item[style-angle="356"] {
  transform: rotate(356deg);
}
.ball_item[style-angle="357"] {
  transform: rotate(357deg);
}
.ball_item[style-angle="358"] {
  transform: rotate(358deg);
}
.ball_item[style-angle="359"] {
  transform: rotate(359deg);
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.magicCircle {
  width: 640px;
  height: 640px;
  margin: auto;
  position: relative;
}

.theCenter {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -1px;
  background: #f00;
  z-index: 10000;
}

.pageTitle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
