@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background: #111111;
  padding-top: 16px;
  color: #f1f1f1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  overflow: hidden;
}

.ring {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ring-border {
  width: 100%;
  height: 100%;
  border: 4px solid #b2ce54;
  border-radius: 100%;
  position: relative;
}

.ring-innerTextList {
  width: 100%;
  height: 100%;
  -webkit-animation: rotationReverse 3s infinite linear;
          animation: rotationReverse 3s infinite linear;
}

.ring-innerTextItem {
  position: absolute;
  top: 0;
  left: calc(50% - 24px);
  width: 48px;
  font-size: 48px;
  height: 100%;
  color: #f1f1f1;
}

.ring-innerTextItem:nth-child(1) {
  transform: rotate(0deg);
}

.ring-innerTextItem:nth-child(2) {
  transform: rotate(60deg);
}

.ring-innerTextItem:nth-child(3) {
  transform: rotate(120deg);
}

.ring-innerTextItem:nth-child(4) {
  transform: rotate(180deg);
}

.ring-innerTextItem:nth-child(5) {
  transform: rotate(240deg);
}

.ring-innerTextItem:nth-child(6) {
  transform: rotate(300deg);
}

.triangleWrap {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  -webkit-animation: rotation 5s infinite linear;
          animation: rotation 5s infinite linear;
  transform-origin: 50% 50%;
}

.triangle {
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
  border-bottom: 277.1281292112px solid #b2ce54;
  /* 底辺かける ルート３（variables.$rootThree）*/
  margin-top: 1.4359353944px;
  /* 最後の２０pxはまじめに産出しよう */
}

.magicCircle {
  width: 640px;
  height: 640px;
  margin: auto;
  position: relative;
}

.theCenter {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -1px;
  background: #f00;
  z-index: 10000;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rotationReverse {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotationReverse {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
