@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background: #222;
  padding-top: 200px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.magicCircle {
  width: 320px;
  height: 320px;
  margin: auto;
  border: 1px solid #fff;
  position: relative;
}

.triangleWrap {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  -webkit-animation: rotation 5s infinite linear;
          animation: rotation 5s infinite linear;
  transform-origin: 50% 50%;
}

.triangle {
  border-right: 80px solid transparent;
  border-left: 80px solid transparent;
  border-bottom: 138.5640646056px solid #b2ce54;
  /* 底辺かける ルート３（1.73205080757）*/
  margin-top: -9.2820323028px;
  /* 最後の２０pxはまじめに産出しよう */
}

.theCenter {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -1px;
  background: #f00;
  z-index: 10000;
}

.ring {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ring-border {
  width: 100%;
  height: 100%;
  border: 4px solid #b2ce54;
  border-radius: 100%;
  position: relative;
}

.ring-innerTextList {
  width: 100%;
  height: 100%;
  -webkit-animation: rotationReverse 3s infinite linear;
          animation: rotationReverse 3s infinite linear;
}

.ring-innerTextItem {
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 100%;
  text-align: left;
  color: #fff;
  line-height: 20px;
}

.ring-innerTextItem:nth-child(1) {
  transform: rotate(0deg);
}

.ring-innerTextItem:nth-child(2) {
  transform: rotate(60deg);
}

.ring-innerTextItem:nth-child(3) {
  transform: rotate(120deg);
}

.ring-innerTextItem:nth-child(4) {
  transform: rotate(180deg);
}

.ring-innerTextItem:nth-child(5) {
  transform: rotate(240deg);
}

.ring-innerTextItem:nth-child(6) {
  transform: rotate(300deg);
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rotationReverse {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotationReverse {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
